[submodule "Prunus/Prunus/vendor/spdlog"]
	path = Prunus/Prunus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prunus/Prunus/vendor/GLFW"]
	path = Prunus/Prunus/vendor/GLFW
	url = https://github.com/Fewfy/glfw.git
[submodule "Prunus/Prunus/vendor/imgui"]
	path = Prunus/Prunus/vendor/imgui
	url = https://github.com/Fewfy/imgui
[submodule "Prunus/Prunus/vendor/glm"]
	path = Prunus/Prunus/vendor/glm
	url = https://github.com/g-truc/glm.git
