################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prunus/x64/Debug
/**/*/Debug
/**/*/.vs/*
/**/*/bin/
!/Prunus/vendor/bin
/**/*/bin-int/
*.vcxproj.user
/**/*/x64